@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron home-map">
    <img src="@Url.Content("~/images/lifestoned-full-500-anim.gif")">

    <div>
        <div class="tile-button">@Html.ActionLink("My Sandbox", "Index", "Sandbox")</div>
        <div class="tile-button">@Html.ActionLink("Search", "Index", "Weenie")</div>
        <div class="tile-button">@Html.ActionLink("Create Weenie", "New", "Weenie")</div>
        <div class="tile-button">@Html.ActionLink("Upload Weenie", "Upload", "Weenie")</div>
    </div>

    <p class="text-light">Web based Content editing system for AC Emulators</p>
</div>
